USE [QuanLyDuAnAI]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AI_DATASET]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_DATASET](
	[MaData] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[SoNhanVienDuAn] [int] NULL,
	[TongSoCongViec] [int] NULL,
	[SoCongViecTre] [int] NULL,
	[TyLeCongViecTre] [float] NULL,
	[ChiPhiDuKien] [decimal](18, 2) NULL,
	[ChiPhiThucTe] [decimal](18, 2) NULL,
	[ChenhLechChiPhi] [decimal](18, 2) NULL,
	[TongGioLam] [float] NULL,
	[SoLanThayDoiNhanSu] [int] NULL,
	[SoLanThayDoiQuanLy] [int] NULL,
	[SoNgayTreTienDo] [int] NULL,
	[IsTre] [bit] NULL,
 CONSTRAINT [PK_AI_DATASET] PRIMARY KEY CLUSTERED 
(
	[MaData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AI_KET_QUA]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_KET_QUA](
	[MaAiKetQua] [int] IDENTITY(1,1) NOT NULL,
	[MaDMNguyenNhan] [int] NOT NULL,
	[MaModel] [int] NOT NULL,
	[MaData] [int] NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[DoTinCayKetQua] [float] NULL,
	[ThoiGianDuDoanKetQua] [datetime2](7) NULL,
 CONSTRAINT [PK_AI_KET_QUA] PRIMARY KEY CLUSTERED 
(
	[MaAiKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AI_MODEL]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_MODEL](
	[MaModel] [int] IDENTITY(1,1) NOT NULL,
	[TenModel] [nvarchar](255) NULL,
	[SoLuongDuLieu] [int] NULL,
	[DoChinhXac] [float] NULL,
	[NgayTao] [datetime2](7) NULL,
	[MoTaModel] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_AI_MODEL] PRIMARY KEY CLUSTERED 
(
	[MaModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AI_NGUYEN_NHAN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_NGUYEN_NHAN](
	[MaAINguyenNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[MaDMNguyenNhan] [int] NOT NULL,
	[DoTinCay] [float] NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_AI_NGUYEN_NHAN] PRIMARY KEY CLUSTERED 
(
	[MaAINguyenNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Asp_Id] [nvarchar](128) NOT NULL,
	[MaDanhMucQuyen] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Asp_Id] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[Id] [nvarchar](128) NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[Asp_Id] [nvarchar](128) NOT NULL,
	[Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[Asp_Id] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetime2](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[Id] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_VIEC](
	[MaCongViec] [int] IDENTITY(1,1) NOT NULL,
	[MaDeXuatCV] [int] NULL,
	[MaDanhMucCV] [int] NOT NULL,
	[MaMucDo] [int] NOT NULL,
	[TenCongViec] [nvarchar](255) NULL,
	[MoTaCongViec] [nvarchar](max) NULL,
	[NgayBatDauCongViec] [datetime2](7) NULL,
	[NgayKetThucCVDuKien] [datetime2](7) NULL,
	[NgayKetThucCVThucTe] [datetime2](7) NULL,
	[NgayTaoCongViec] [datetime2](7) NULL,
	[TrangThaiCongViec] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CONG_VIEC](
	[MaChiTietCV] [int] IDENTITY(1,1) NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[TenCTCV] [nvarchar](max) NULL,
	[NoiDungChiTietCV] [nvarchar](max) NULL,
	[NgayTaoCTCV] [datetime2](7) NULL,
	[NgayBatDauCTCV] [datetime2](7) NULL,
	[NgayKetThucCTCV] [datetime2](7) NULL,
	[TrangThaiCTCV] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_CT_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaChiTietCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DANH_GIA_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DANH_GIA_DU_AN](
	[MaChiTietDGDA] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhGiaDuAn] [int] NOT NULL,
	[NhanXetDuAn] [nvarchar](max) NULL,
	[TieuChi] [nvarchar](50) NULL,
	[DiemDanhGiaDA] [int] NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_CT_DANH_GIA_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDGDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DANH_GIA_NHAN_VIEN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DANH_GIA_NHAN_VIEN](
	[MaChiTietDGNV] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhGiaNhanVien] [int] NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[NoiDungDanhGiaNhanVien] [nvarchar](max) NULL,
	[DiemDanhGiaNV] [int] NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_CT_DANH_GIA_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDGNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_PHI]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_PHI](
	[MaChiPhi] [int] IDENTITY(1,1) NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[MaNganSach] [int] NOT NULL,
	[NoiDungChiPhi] [nvarchar](max) NULL,
	[SoTienDaChi] [decimal](18, 2) NULL,
	[NgayChi] [datetime2](7) NULL,
	[TrangThaiChiPhi] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_CHI_PHI] PRIMARY KEY CLUSTERED 
(
	[MaChiPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_DANH]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_DANH](
	[MaChucDanh] [int] IDENTITY(1,1) NOT NULL,
	[TenChucDanh] [nvarchar](255) NULL,
	[MoTaChucDanh] [nvarchar](255) NULL,
 CONSTRAINT [PK_CHUC_DANH] PRIMARY KEY CLUSTERED 
(
	[MaChucDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_GIA_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA_DU_AN](
	[MaDanhGiaDuAn] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[DiemTongDanhGiaDA] [int] NULL,
	[NhanXetTongDuAn] [nvarchar](255) NULL,
	[NgayDanhGiaDA] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_DANH_GIA_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaDanhGiaDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_GIA_NHAN_VIEN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA_NHAN_VIEN](
	[MaDanhGiaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaTieuChi] [int] NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[MaNguoiDungDanhGia] [int] NOT NULL,
	[DiemTongDanhGiaNV] [int] NULL,
	[NgayDanhGiaNV] [datetime2](7) NULL,
	[XepLoai] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_DANH_GIA_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaDanhGiaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_MUC_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC_CONG_VIEC](
	[MaDanhMucCV] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[TenDanhMucCV] [nvarchar](255) NULL,
	[MoTaDanhMucCV] [nvarchar](255) NULL,
	[NgayTaoDMCV] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_DANH_MUC_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaDanhMucCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_MUC_MAN_HINH]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC_MAN_HINH](
	[MaManHinh] [int] IDENTITY(1,1) NOT NULL,
	[TenManHinh] [nvarchar](255) NULL,
	[MoTaManHinh] [nvarchar](255) NULL,
 CONSTRAINT [PK_DANH_MUC_MAN_HINH] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_MUC_QUYEN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC_QUYEN](
	[MaDanhMucQuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaManHinh] [int] NOT NULL,
	[TenDanhMucQuyen] [nvarchar](255) NULL,
	[MoTaDanhMucQuyen] [nvarchar](255) NULL,
 CONSTRAINT [PK_DANH_MUC_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MaDanhMucQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DE_XUAT_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_XUAT_CONG_VIEC](
	[MaDeXuatCV] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[MaDanhMucCV] [int] NOT NULL,
	[MaMucDo] [int] NOT NULL,
	[MaNguoiDungDeXuat] [int] NOT NULL,
	[MaNguoiDungDuyet] [int] NULL,
	[TenCongViecDeXuat] [nvarchar](255) NULL,
	[MoTaCongViecDeXuat] [nvarchar](max) NULL,
	[ChiPhiDeXuat] [decimal](18, 2) NULL,
	[NgayBatDauCongViecDeXuat] [datetime2](7) NULL,
	[NgayKetThucCVDeXuatDuKien] [datetime2](7) NULL,
	[NgayDeXuatCongViec] [datetime2](7) NULL,
	[NgayDuyetDeXuatCongViec] [datetime2](7) NULL,
	[TrangThaiCongViecDeXuat] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_DE_XUAT_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaDeXuatCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DE_XUAT_NGAN_SACH]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_XUAT_NGAN_SACH](
	[MaDeXuatNS] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[MaNganSachCu] [int] NULL,
	[NganSachCu] [decimal](18, 2) NULL,
	[NganSachDeXuat] [decimal](18, 2) NULL,
	[LyDoDeXuat] [nvarchar](max) NULL,
	[MaNguoiDungDeXuat] [int] NOT NULL,
	[MaNguoiDungDuyet] [int] NULL,
	[NgayDeXuat] [datetime2](7) NULL,
	[NgayDuyet] [datetime2](7) NULL,
	[TrangThaiDeXuat] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_DE_XUAT_NGAN_SACH] PRIMARY KEY CLUSTERED 
(
	[MaDeXuatNS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NGUYEN_NHAN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NGUYEN_NHAN](
	[MaDMNguyenNhan] [int] IDENTITY(1,1) NOT NULL,
	[TenNguyenNhan] [nvarchar](255) NULL,
 CONSTRAINT [PK_DM_NGUYEN_NHAN] PRIMARY KEY CLUSTERED 
(
	[MaDMNguyenNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DU_AN](
	[MaDuAn] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaLoaiDuAn] [int] NOT NULL,
	[TenDuAn] [nvarchar](255) NULL,
	[MoTaDuAn] [nvarchar](max) NULL,
	[NgayTaoDuAn] [datetime2](7) NULL,
	[NgayBatDauDuAn] [datetime2](7) NULL,
	[NgayKetThucDuAn] [datetime2](7) NULL,
	[PhanTramHoanThanh] [int] NULL,
	[TrangThaiDuAn] [nvarchar](50) NULL,
	[GhiChuDuAn] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_CONG_VIEC](
	[MaFileCV] [int] IDENTITY(1,1) NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[TenFileCV] [nvarchar](255) NULL,
	[DuongDanFileCV] [nvarchar](500) NULL,
	[NgayUploadFileCV] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_FILE_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaFileCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE_CT_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_CT_CONG_VIEC](
	[MaFileCTCV] [int] IDENTITY(1,1) NOT NULL,
	[MaChiTietCV] [int] NOT NULL,
	[TenFileCTCV] [nvarchar](255) NULL,
	[DuongDanFileCTCV] [nvarchar](500) NULL,
	[NgayUploadFileCTCV] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_FILE_CT_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaFileCTCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_DU_AN](
	[MaFileDA] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[TenFileDA] [nvarchar](255) NULL,
	[DuongDanFileDA] [nvarchar](500) NULL,
	[NgayUploadFileDA] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_FILE_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaFileDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE_TIEN_DO_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_TIEN_DO_CONG_VIEC](
	[MaFileTDCV] [int] IDENTITY(1,1) NOT NULL,
	[MaTienDo] [int] NOT NULL,
	[TenFileTDCV] [nvarchar](255) NULL,
	[DuongDanFileTDCV] [nvarchar](500) NULL,
	[NgayUploadFileTDCV] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_FILE_TIEN_DO_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaFileTDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_DU_AN](
	[MaLoaiDuAn] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](255) NULL,
	[MoTaLoaiDuAn] [nvarchar](255) NULL,
 CONSTRAINT [PK_LOAI_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUC_DO_UU_TIEN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUC_DO_UU_TIEN](
	[MaMucDo] [int] IDENTITY(1,1) NOT NULL,
	[TenMucDo] [nvarchar](100) NULL,
	[MoTaMucDo] [nvarchar](255) NULL,
 CONSTRAINT [PK_MUC_DO_UU_TIEN] PRIMARY KEY CLUSTERED 
(
	[MaMucDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGAN_SACH]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAN_SACH](
	[MaNganSach] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDungDuyet] [int] NOT NULL,
	[MaNguoiDungDeXuat] [int] NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[NganSach] [decimal](18, 2) NULL,
	[Version] [int] NULL,
	[IsActive] [bit] NULL,
	[MoTaNganSach] [nvarchar](255) NULL,
	[NgayCapNhatNganSach] [datetime2](7) NULL,
	[NgayDuyetNganSach] [datetime2](7) NULL,
	[TrangThaiNganSach] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_NGAN_SACH] PRIMARY KEY CLUSTERED 
(
	[MaNganSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[MaChucDanh] [int] NOT NULL,
	[Id] [nvarchar](128) NULL,
	[HoTenNguoiDung] [nvarchar](255) NULL,
	[DiaChiNguoiDung] [nvarchar](255) NULL,
	[SdtNguoiDung] [nvarchar](20) NULL,
	[NgaySinh] [datetime2](7) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_NGUOI_DUNG] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN_DU_AN](
	[MaDuAn] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[NgayThamGiaDuAn] [datetime2](7) NULL,
	[VaiTroTrongDuAn] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaDuAn] ASC,
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN_TEAM]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN_TEAM](
	[MaNguoiDung] [int] NOT NULL,
	[MaTeam] [int] NOT NULL,
	[VaiTroTrongTeam] [nvarchar](100) NULL,
	[NgayThamGiaTeam] [datetime2](7) NULL,
	[IsLeader] [bit] NULL,
 CONSTRAINT [PK_NHAN_VIEN_TEAM] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaTeam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAT_KY_CHI_PHI]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAT_KY_CHI_PHI](
	[MaNhatKyCP] [int] IDENTITY(1,1) NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[MaChiPhi] [int] NOT NULL,
	[NkSoTienDaChi] [decimal](18, 2) NULL,
	[NkNgayChi] [datetime2](7) NULL,
	[NkTrangThaiChiPhi] [nvarchar](50) NULL,
	[HanhDongNKCP] [nvarchar](255) NULL,
	[ThoiGianNKCP] [datetime2](7) NULL,
 CONSTRAINT [PK_NHAT_KY_CHI_PHI] PRIMARY KEY CLUSTERED 
(
	[MaNhatKyCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAT_KY_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAT_KY_DU_AN](
	[MaNhatKyTeamDA] [int] IDENTITY(1,1) NOT NULL,
	[MaTeam] [int] NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[TeamCuPhuTrach] [int] NULL,
	[TeamMoiPhuTrach] [int] NULL,
	[HanhDongNKDA] [nvarchar](255) NULL,
	[ThoiGianNKDA] [datetime2](7) NULL,
 CONSTRAINT [PK_NHAT_KY_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaNhatKyTeamDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAT_KY_NGAN_SACH]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAT_KY_NGAN_SACH](
	[MaNhatKyNS] [int] IDENTITY(1,1) NOT NULL,
	[MaNganSach] [int] NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[SoTienNKNS] [decimal](18, 2) NULL,
	[NganSachTruoc] [decimal](18, 2) NULL,
	[NganSachSau] [decimal](18, 2) NULL,
	[NkNgayCapNhatNS] [datetime2](7) NULL,
	[NkTrangThaiNganSach] [nvarchar](50) NULL,
	[HanhDongNKNS] [nvarchar](255) NULL,
	[ThoiGianNKNS] [datetime2](7) NULL,
 CONSTRAINT [PK_NHAT_KY_NGAN_SACH] PRIMARY KEY CLUSTERED 
(
	[MaNhatKyNS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAT_KY_PHAN_CONG_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAT_KY_PHAN_CONG_CONG_VIEC](
	[MaNhatKyPCCV] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[MaNguoiDungGhi] [int] NOT NULL,
	[HanhDongPCCV] [nvarchar](255) NULL,
	[ThoiGianPCCV] [datetime2](7) NULL,
 CONSTRAINT [PK_NHAT_KY_PHAN_CONG_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaNhatKyPCCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAT_KY_PHAN_CONG_CT_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAT_KY_PHAN_CONG_CT_CONG_VIEC](
	[MaNhatKyPCCTCV] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaChiTietCV] [int] NOT NULL,
	[MaNguoiDungGhi] [int] NOT NULL,
	[HanhDongPCCTCV] [nvarchar](255) NULL,
	[ThoiGianPCCTCV] [datetime2](7) NULL,
 CONSTRAINT [PK_NHAT_KY_PHAN_CONG_CT_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaNhatKyPCCTCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAT_KY_PHU_TRACH_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAT_KY_PHU_TRACH_DU_AN](
	[MaNhatKyPTDA] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[NkHanhDongPTDA] [nvarchar](255) NULL,
	[NkThoiGianPTDA] [datetime2](7) NULL,
 CONSTRAINT [PK_NHAT_KY_PHU_TRACH_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaNhatKyPTDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAT_KY_QUAN_LY_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAT_KY_QUAN_LY_DU_AN](
	[MaNhatKyQLDA] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[NkHanhDongQLDA] [nvarchar](255) NULL,
	[NkThoiGianQLDA] [datetime2](7) NULL,
	[QLDATuNgay] [datetime2](7) NULL,
	[QLDADenNgay] [datetime2](7) NULL,
 CONSTRAINT [PK_NHAT_KY_QUAN_LY_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaNhatKyQLDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAN_CONG_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_CONG_CONG_VIEC](
	[MaNguoiDung] [int] NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[NgayGiaoViec] [datetime2](7) NULL,
 CONSTRAINT [PK_PHAN_CONG_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAN_CONG_CT_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_CONG_CT_CONG_VIEC](
	[MaNguoiDung] [int] NOT NULL,
	[MaChiTietCV] [int] NOT NULL,
	[NgayGiaoCTCV] [datetime2](7) NULL,
	[VaiTroTrongCTCV] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHAN_CONG_CT_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaChiTietCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_CHAT]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_CHAT](
	[MaPhongChat] [int] IDENTITY(1,1) NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[TenPhong] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_PHONG_CHAT] PRIMARY KEY CLUSTERED 
(
	[MaPhongChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAM]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAM](
	[MaTeam] [int] IDENTITY(1,1) NOT NULL,
	[TenTeam] [nvarchar](255) NULL,
	[MoTaTeam] [nvarchar](255) NULL,
	[NgayLapTeam] [datetime2](7) NULL,
	[TrangThaiTeam] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_TEAM] PRIMARY KEY CLUSTERED 
(
	[MaTeam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAM_DU_AN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAM_DU_AN](
	[MaTeam] [int] NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[NgayTeamThamGiaDA] [datetime2](7) NULL,
 CONSTRAINT [PK_TEAM_DU_AN] PRIMARY KEY CLUSTERED 
(
	[MaTeam] ASC,
	[MaDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEN_DO_CONG_VIEC]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEN_DO_CONG_VIEC](
	[MaTienDo] [int] IDENTITY(1,1) NOT NULL,
	[MaChiTietCV] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[PhanTram] [int] NULL,
	[GhiChuTienDo] [nvarchar](255) NULL,
	[ThoiGianCapNhat] [datetime2](7) NULL,
	[TrangThaiTienDo] [nvarchar](50) NULL,
 CONSTRAINT [PK_TIEN_DO_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MaTienDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEU_CHI_DANH_GIA]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEU_CHI_DANH_GIA](
	[MaTieuChi] [int] IDENTITY(1,1) NOT NULL,
	[TenTieuChi] [nvarchar](255) NULL,
	[DiemTieuChi] [float] NULL,
	[MoTa] [nvarchar](255) NULL,
	[LoaiTieuChi] [nvarchar](255) NULL,
	[TrangThaiTieuChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_TIEU_CHI_DANH_GIA] PRIMARY KEY CLUSTERED 
(
	[MaTieuChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIN_NHAN]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIN_NHAN](
	[MaTinNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaPhongChat] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[NoiDungTinNhan] [nvarchar](max) NULL,
	[ThoiGianGui] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_TIN_NHAN] PRIMARY KEY CLUSTERED 
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANH_VIEN_PHONG_CHAT]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_VIEN_PHONG_CHAT](
	[MaPhongChat] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[VaiTroTrongPhongChat] [nvarchar](50) NULL,
 CONSTRAINT [PK_THANH_VIEN_PHONG_CHAT] PRIMARY KEY CLUSTERED 
(
	[MaPhongChat] ASC,
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEU_CAU_DOI_QUAN_LY]    Script Date: 5/05/2026 8:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEU_CAU_DOI_QUAN_LY](
	[MaYeuCauDoiQuanLy] [int] IDENTITY(1,1) NOT NULL,
	[MaQuanLyDeXuat] [int] NOT NULL,
	[MaDuAn] [int] NOT NULL,
	[MaNguoiDungDuyet] [int] NULL,
	[MaQuanLyHienTai] [int] NOT NULL,
	[TrangThaiYeuCauDoiQuanLy] [nvarchar](255) NULL,
	[NgayTaoYeuCauDoiQuanLy] [datetime2](7) NULL,
	[NgayDuyetYeuCauDoiQuanLy] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_YEU_CAU_DOI_QUAN_LY] PRIMARY KEY CLUSTERED 
(
	[MaYeuCauDoiQuanLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260505133317_Init', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[AspNetRoleClaims] ON 

INSERT [dbo].[AspNetRoleClaims] ([Id], [Asp_Id], [MaDanhMucQuyen], [ClaimType], [ClaimValue]) VALUES (1, N'c459de512c5245e580f9b9f980c72e3b', 1, N'permission', N'ThongKe.Xem')
INSERT [dbo].[AspNetRoleClaims] ([Id], [Asp_Id], [MaDanhMucQuyen], [ClaimType], [ClaimValue]) VALUES (2, N'c459de512c5245e580f9b9f980c72e3b', 2, N'permission', N'NhanSu.Xem')
INSERT [dbo].[AspNetRoleClaims] ([Id], [Asp_Id], [MaDanhMucQuyen], [ClaimType], [ClaimValue]) VALUES (3, N'c459de512c5245e580f9b9f980c72e3b', 3, N'permission', N'NhanSu.Them')
SET IDENTITY_INSERT [dbo].[AspNetRoleClaims] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'b72c88f35eab47488f15426212c98dcf', N'Employee', N'EMPLOYEE', N'66175db496144a17aa5688ed93180e7f')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c459de512c5245e580f9b9f980c72e3b', N'Admin', N'ADMIN', N'ca11688daee14d529c7f51983b662114')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c4777c0541fb40febce424099f30a394', N'Manager', N'MANAGER', N'3a1fde0a81a34d848892e14b9142f402')
GO
INSERT [dbo].[AspNetUserRoles] ([Asp_Id], [Id]) VALUES (N'0c8cfcc5571a4a7abcbd7ffc89e3a278', N'c459de512c5245e580f9b9f980c72e3b')
GO
INSERT [dbo].[AspNetUsers] ([Id], [MaNguoiDung], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'0c8cfcc5571a4a7abcbd7ffc89e3a278', 1, N'admin', N'ADMIN', N'admin@local.app', N'admin@LOCAL.APP', 1, N'AQAAAAIAAYagAAAAEKgbv/yANWoPVLwrwK/sKeqABIuNjesJaJ8hAc0uWL/d9KQujdv4nBDt4/yZK5yn1w==', N'dea43bb255054fac9e16e4c67614cd11', N'f91255aa1aff4f9284b3d6b464f162f8', NULL, 0, 0, NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[CHUC_DANH] ON 

INSERT [dbo].[CHUC_DANH] ([MaChucDanh], [TenChucDanh], [MoTaChucDanh]) VALUES (1, N'Quan tri vien', N'Quan tri he thong va phan quyen')
INSERT [dbo].[CHUC_DANH] ([MaChucDanh], [TenChucDanh], [MoTaChucDanh]) VALUES (2, N'Quan ly du an', N'Dieu phoi va duyet nghiep vu du an')
INSERT [dbo].[CHUC_DANH] ([MaChucDanh], [TenChucDanh], [MoTaChucDanh]) VALUES (3, N'Developer', N'Lap trinh vien tham gia phat trien')
SET IDENTITY_INSERT [dbo].[CHUC_DANH] OFF
GO
SET IDENTITY_INSERT [dbo].[DANH_MUC_MAN_HINH] ON 

INSERT [dbo].[DANH_MUC_MAN_HINH] ([MaManHinh], [TenManHinh], [MoTaManHinh]) VALUES (1, N'Dashboard', N'Danh muc man hinh Dashboard')
INSERT [dbo].[DANH_MUC_MAN_HINH] ([MaManHinh], [TenManHinh], [MoTaManHinh]) VALUES (2, N'NhanSu', N'Danh muc man hinh NhanSu')
INSERT [dbo].[DANH_MUC_MAN_HINH] ([MaManHinh], [TenManHinh], [MoTaManHinh]) VALUES (3, N'ChucDanh', N'Danh muc man hinh ChucDanh')
SET IDENTITY_INSERT [dbo].[DANH_MUC_MAN_HINH] OFF
GO
SET IDENTITY_INSERT [dbo].[DANH_MUC_QUYEN] ON 

INSERT [dbo].[DANH_MUC_QUYEN] ([MaDanhMucQuyen], [MaManHinh], [TenDanhMucQuyen], [MoTaDanhMucQuyen]) VALUES (1, 1, N'ThongKe.Xem', N'Quyen ThongKe.Xem')
INSERT [dbo].[DANH_MUC_QUYEN] ([MaDanhMucQuyen], [MaManHinh], [TenDanhMucQuyen], [MoTaDanhMucQuyen]) VALUES (2, 2, N'NhanSu.Xem', N'Quyen NhanSu.Xem')
INSERT [dbo].[DANH_MUC_QUYEN] ([MaDanhMucQuyen], [MaManHinh], [TenDanhMucQuyen], [MoTaDanhMucQuyen]) VALUES (3, 2, N'NhanSu.Them', N'Quyen NhanSu.Them')
SET IDENTITY_INSERT [dbo].[DANH_MUC_QUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[DM_NGUYEN_NHAN] ON 

INSERT [dbo].[DM_NGUYEN_NHAN] ([MaDMNguyenNhan], [TenNguyenNhan]) VALUES (1, N'Cham phe duyet')
INSERT [dbo].[DM_NGUYEN_NHAN] ([MaDMNguyenNhan], [TenNguyenNhan]) VALUES (2, N'Thieu nhan su')
INSERT [dbo].[DM_NGUYEN_NHAN] ([MaDMNguyenNhan], [TenNguyenNhan]) VALUES (3, N'Thay doi yeu cau lien tuc')
SET IDENTITY_INSERT [dbo].[DM_NGUYEN_NHAN] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI_DU_AN] ON 

INSERT [dbo].[LOAI_DU_AN] ([MaLoaiDuAn], [TenLoai], [MoTaLoaiDuAn]) VALUES (1, N'Phat trien phan mem', N'Du an xay dung he thong phan mem')
INSERT [dbo].[LOAI_DU_AN] ([MaLoaiDuAn], [TenLoai], [MoTaLoaiDuAn]) VALUES (2, N'Bao tri nang cap', N'Du an bao tri va nang cap he thong')
INSERT [dbo].[LOAI_DU_AN] ([MaLoaiDuAn], [TenLoai], [MoTaLoaiDuAn]) VALUES (3, N'Nghien cuu AI', N'Du an tap trung nghien cuu ve AI')
SET IDENTITY_INSERT [dbo].[LOAI_DU_AN] OFF
GO
SET IDENTITY_INSERT [dbo].[MUC_DO_UU_TIEN] ON 

INSERT [dbo].[MUC_DO_UU_TIEN] ([MaMucDo], [TenMucDo], [MoTaMucDo]) VALUES (1, N'Thap', N'Muc uu tien thap')
INSERT [dbo].[MUC_DO_UU_TIEN] ([MaMucDo], [TenMucDo], [MoTaMucDo]) VALUES (2, N'Trung binh', N'Muc uu tien trung binh')
INSERT [dbo].[MUC_DO_UU_TIEN] ([MaMucDo], [TenMucDo], [MoTaMucDo]) VALUES (3, N'Cao', N'Muc uu tien cao')
SET IDENTITY_INSERT [dbo].[MUC_DO_UU_TIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] ON 

INSERT [dbo].[NGUOI_DUNG] ([MaNguoiDung], [MaChucDanh], [Id], [HoTenNguoiDung], [DiaChiNguoiDung], [SdtNguoiDung], [NgaySinh], [AnhDaiDien], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (1, 1, N'0c8cfcc5571a4a7abcbd7ffc89e3a278', N'Quan tri he thong', NULL, NULL, NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[TIEU_CHI_DANH_GIA] ON 

INSERT [dbo].[TIEU_CHI_DANH_GIA] ([MaTieuChi], [TenTieuChi], [DiemTieuChi], [MoTa], [LoaiTieuChi], [TrangThaiTieuChi]) VALUES (1, N'Tien do', 10, N'Danh gia theo muc do dap ung tien do', N'NhanVien', N'DangSuDung')
INSERT [dbo].[TIEU_CHI_DANH_GIA] ([MaTieuChi], [TenTieuChi], [DiemTieuChi], [MoTa], [LoaiTieuChi], [TrangThaiTieuChi]) VALUES (2, N'Chat luong', 10, N'Danh gia chat luong dau ra', N'NhanVien', N'DangSuDung')
INSERT [dbo].[TIEU_CHI_DANH_GIA] ([MaTieuChi], [TenTieuChi], [DiemTieuChi], [MoTa], [LoaiTieuChi], [TrangThaiTieuChi]) VALUES (3, N'Hop tac', 10, N'Danh gia kha nang lam viec nhom', N'NhanVien', N'DangSuDung')
SET IDENTITY_INSERT [dbo].[TIEU_CHI_DANH_GIA] OFF
GO
ALTER TABLE [dbo].[AI_DATASET]  WITH CHECK ADD  CONSTRAINT [FK_AI_DATAS_DU LIEU_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[AI_DATASET] CHECK CONSTRAINT [FK_AI_DATAS_DU LIEU_DU_AN]
GO
ALTER TABLE [dbo].[AI_KET_QUA]  WITH CHECK ADD  CONSTRAINT [FK_AI_KET_Q_DU LIEU_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[AI_KET_QUA] CHECK CONSTRAINT [FK_AI_KET_Q_DU LIEU_DU_AN]
GO
ALTER TABLE [dbo].[AI_KET_QUA]  WITH CHECK ADD  CONSTRAINT [FK_AI_KET_Q_DUA VAO_AI_DATAS] FOREIGN KEY([MaData])
REFERENCES [dbo].[AI_DATASET] ([MaData])
GO
ALTER TABLE [dbo].[AI_KET_QUA] CHECK CONSTRAINT [FK_AI_KET_Q_DUA VAO_AI_DATAS]
GO
ALTER TABLE [dbo].[AI_KET_QUA]  WITH CHECK ADD  CONSTRAINT [FK_AI_KET_Q_KET QUA_AI_MODEL] FOREIGN KEY([MaModel])
REFERENCES [dbo].[AI_MODEL] ([MaModel])
GO
ALTER TABLE [dbo].[AI_KET_QUA] CHECK CONSTRAINT [FK_AI_KET_Q_KET QUA_AI_MODEL]
GO
ALTER TABLE [dbo].[AI_KET_QUA]  WITH CHECK ADD  CONSTRAINT [FK_AI_KET_Q_THUOC_DM_NGUYE] FOREIGN KEY([MaDMNguyenNhan])
REFERENCES [dbo].[DM_NGUYEN_NHAN] ([MaDMNguyenNhan])
GO
ALTER TABLE [dbo].[AI_KET_QUA] CHECK CONSTRAINT [FK_AI_KET_Q_THUOC_DM_NGUYE]
GO
ALTER TABLE [dbo].[AI_NGUYEN_NHAN]  WITH CHECK ADD  CONSTRAINT [FK_AI_NGUYE_THUOC_DM_NGUYE] FOREIGN KEY([MaDMNguyenNhan])
REFERENCES [dbo].[DM_NGUYEN_NHAN] ([MaDMNguyenNhan])
GO
ALTER TABLE [dbo].[AI_NGUYEN_NHAN] CHECK CONSTRAINT [FK_AI_NGUYE_THUOC_DM_NGUYE]
GO
ALTER TABLE [dbo].[AI_NGUYEN_NHAN]  WITH CHECK ADD  CONSTRAINT [FK_AI_NGUYE_THUOC_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[AI_NGUYEN_NHAN] CHECK CONSTRAINT [FK_AI_NGUYE_THUOC_DU_AN]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETRO_FK_ASPNET_ASPNETRO] FOREIGN KEY([Asp_Id])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_ASPNETRO_FK_ASPNET_ASPNETRO]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETRO_THUOC_DANH_MUC] FOREIGN KEY([MaDanhMucQuyen])
REFERENCES [dbo].[DANH_MUC_QUYEN] ([MaDanhMucQuyen])
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_ASPNETRO_THUOC_DANH_MUC]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERCLAIMS_ASPNETUSERS] FOREIGN KEY([Asp_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_ASPNETUSERCLAIMS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERLOGINS_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_ASPNETUSERLOGINS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUS_FK_ASPNET_ASPNETRO] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_ASPNETUS_FK_ASPNET_ASPNETRO]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERROLES_ASPNETUSERS] FOREIGN KEY([Asp_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_ASPNETUSERROLES_ASPNETUSERS]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUS_CO TK_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_ASPNETUS_CO TK_NGUOI_DU]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERTOKENS_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_ASPNETUSERTOKENS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONG_VIE_CO_DANH_MUC] FOREIGN KEY([MaDanhMucCV])
REFERENCES [dbo].[DANH_MUC_CONG_VIEC] ([MaDanhMucCV])
GO
ALTER TABLE [dbo].[CONG_VIEC] CHECK CONSTRAINT [FK_CONG_VIE_CO_DANH_MUC]
GO
ALTER TABLE [dbo].[CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONG_VIE_CO_MUC_DO_U] FOREIGN KEY([MaMucDo])
REFERENCES [dbo].[MUC_DO_UU_TIEN] ([MaMucDo])
GO
ALTER TABLE [dbo].[CONG_VIEC] CHECK CONSTRAINT [FK_CONG_VIE_CO_MUC_DO_U]
GO
ALTER TABLE [dbo].[CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONG_VIE_THUOC_DE_XUAT_] FOREIGN KEY([MaDeXuatCV])
REFERENCES [dbo].[DE_XUAT_CONG_VIEC] ([MaDeXuatCV])
GO
ALTER TABLE [dbo].[CONG_VIEC] CHECK CONSTRAINT [FK_CONG_VIE_THUOC_DE_XUAT_]
GO
ALTER TABLE [dbo].[CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONG_VIEC_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[CONG_VIEC] CHECK CONSTRAINT [FK_CONG_VIEC_DELETED_BY]
GO
ALTER TABLE [dbo].[CT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CT_CONG__CO_CONG_VIE] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONG_VIEC] ([MaCongViec])
GO
ALTER TABLE [dbo].[CT_CONG_VIEC] CHECK CONSTRAINT [FK_CT_CONG__CO_CONG_VIE]
GO
ALTER TABLE [dbo].[CT_DANH_GIA_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_CT_DGDA_CO_DANH_GIA] FOREIGN KEY([MaDanhGiaDuAn])
REFERENCES [dbo].[DANH_GIA_DU_AN] ([MaDanhGiaDuAn])
GO
ALTER TABLE [dbo].[CT_DANH_GIA_DU_AN] CHECK CONSTRAINT [FK_CT_DGDA_CO_DANH_GIA]
GO
ALTER TABLE [dbo].[CT_DANH_GIA_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_CT_DANH__CO_CONG_VIE] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONG_VIEC] ([MaCongViec])
GO
ALTER TABLE [dbo].[CT_DANH_GIA_NHAN_VIEN] CHECK CONSTRAINT [FK_CT_DANH__CO_CONG_VIE]
GO
ALTER TABLE [dbo].[CT_DANH_GIA_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_CT_DGNV_CO_DANH_GIA] FOREIGN KEY([MaDanhGiaNhanVien])
REFERENCES [dbo].[DANH_GIA_NHAN_VIEN] ([MaDanhGiaNhanVien])
GO
ALTER TABLE [dbo].[CT_DANH_GIA_NHAN_VIEN] CHECK CONSTRAINT [FK_CT_DGNV_CO_DANH_GIA]
GO
ALTER TABLE [dbo].[CHI_PHI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_PHI_CHI CHO_CONG_VIE] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONG_VIEC] ([MaCongViec])
GO
ALTER TABLE [dbo].[CHI_PHI] CHECK CONSTRAINT [FK_CHI_PHI_CHI CHO_CONG_VIE]
GO
ALTER TABLE [dbo].[CHI_PHI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_PHI_CHI_NGAN_SAC] FOREIGN KEY([MaNganSach])
REFERENCES [dbo].[NGAN_SACH] ([MaNganSach])
GO
ALTER TABLE [dbo].[CHI_PHI] CHECK CONSTRAINT [FK_CHI_PHI_CHI_NGAN_SAC]
GO
ALTER TABLE [dbo].[CHI_PHI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_PHI_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[CHI_PHI] CHECK CONSTRAINT [FK_CHI_PHI_DELETED_BY]
GO
ALTER TABLE [dbo].[DANH_GIA_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_DUOC DANH_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[DANH_GIA_DU_AN] CHECK CONSTRAINT [FK_DANH_GIA_DUOC DANH_DU_AN]
GO
ALTER TABLE [dbo].[DANH_GIA_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_DGDA_DANH_GIA_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DANH_GIA_DU_AN] CHECK CONSTRAINT [FK_DGDA_DANH_GIA_NGUOI_DU]
GO
ALTER TABLE [dbo].[DANH_GIA_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_DGDA_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DANH_GIA_DU_AN] CHECK CONSTRAINT [FK_DGDA_DELETED_BY]
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_DUA VAO_TIEU_CHI] FOREIGN KEY([MaTieuChi])
REFERENCES [dbo].[TIEU_CHI_DANH_GIA] ([MaTieuChi])
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN] CHECK CONSTRAINT [FK_DANH_GIA_DUA VAO_TIEU_CHI]
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_DUOC_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN] CHECK CONSTRAINT [FK_DANH_GIA_DUOC_NGUOI_DU]
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_TRONG_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN] CHECK CONSTRAINT [FK_DANH_GIA_TRONG_DU_AN]
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_DGNV_DANH_GIA_NGUOI_DU] FOREIGN KEY([MaNguoiDungDanhGia])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN] CHECK CONSTRAINT [FK_DGNV_DANH_GIA_NGUOI_DU]
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_DGNV_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DANH_GIA_NHAN_VIEN] CHECK CONSTRAINT [FK_DGNV_DELETED_BY]
GO
ALTER TABLE [dbo].[DANH_MUC_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_DANH_MUC_GOM_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[DANH_MUC_CONG_VIEC] CHECK CONSTRAINT [FK_DANH_MUC_GOM_DU_AN]
GO
ALTER TABLE [dbo].[DANH_MUC_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_DANH_MUC_CO_DANH_MUC] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[DANH_MUC_MAN_HINH] ([MaManHinh])
GO
ALTER TABLE [dbo].[DANH_MUC_QUYEN] CHECK CONSTRAINT [FK_DANH_MUC_CO_DANH_MUC]
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT__CO_DANH_MUC] FOREIGN KEY([MaDanhMucCV])
REFERENCES [dbo].[DANH_MUC_CONG_VIEC] ([MaDanhMucCV])
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC] CHECK CONSTRAINT [FK_DE_XUAT__CO_DANH_MUC]
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT__CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC] CHECK CONSTRAINT [FK_DE_XUAT__CO_DU_AN]
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT__CO_MUC_DO_U] FOREIGN KEY([MaMucDo])
REFERENCES [dbo].[MUC_DO_UU_TIEN] ([MaMucDo])
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC] CHECK CONSTRAINT [FK_DE_XUAT__CO_MUC_DO_U]
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT__DE XUAT_NGUOI_DU] FOREIGN KEY([MaNguoiDungDeXuat])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC] CHECK CONSTRAINT [FK_DE_XUAT__DE XUAT_NGUOI_DU]
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT__DUYET_NGUOI_DU] FOREIGN KEY([MaNguoiDungDuyet])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC] CHECK CONSTRAINT [FK_DE_XUAT__DUYET_NGUOI_DU]
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT_CV_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DE_XUAT_CONG_VIEC] CHECK CONSTRAINT [FK_DE_XUAT_CV_DELETED_BY]
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT_NS_CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH] CHECK CONSTRAINT [FK_DE_XUAT_NS_CO_DU_AN]
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT_NS_DE_XUAT_NGUOI_DU] FOREIGN KEY([MaNguoiDungDeXuat])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH] CHECK CONSTRAINT [FK_DE_XUAT_NS_DE_XUAT_NGUOI_DU]
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT_NS_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH] CHECK CONSTRAINT [FK_DE_XUAT_NS_DELETED_BY]
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT_NS_DUYET_NGUOI_DU] FOREIGN KEY([MaNguoiDungDuyet])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH] CHECK CONSTRAINT [FK_DE_XUAT_NS_DUYET_NGUOI_DU]
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_DE_XUAT_NS_THUOC_NGAN_SACH] FOREIGN KEY([MaNganSachCu])
REFERENCES [dbo].[NGAN_SACH] ([MaNganSach])
GO
ALTER TABLE [dbo].[DE_XUAT_NGAN_SACH] CHECK CONSTRAINT [FK_DE_XUAT_NS_THUOC_NGAN_SACH]
GO
ALTER TABLE [dbo].[DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_DU_AN_CO_LOAI_DU_] FOREIGN KEY([MaLoaiDuAn])
REFERENCES [dbo].[LOAI_DU_AN] ([MaLoaiDuAn])
GO
ALTER TABLE [dbo].[DU_AN] CHECK CONSTRAINT [FK_DU_AN_CO_LOAI_DU_]
GO
ALTER TABLE [dbo].[DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_DU_AN_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DU_AN] CHECK CONSTRAINT [FK_DU_AN_DELETED_BY]
GO
ALTER TABLE [dbo].[DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_DU_AN_QUAN LY_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DU_AN] CHECK CONSTRAINT [FK_DU_AN_QUAN LY_NGUOI_DU]
GO
ALTER TABLE [dbo].[FILE_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_FILE_CON_CO_CONG_VIE] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONG_VIEC] ([MaCongViec])
GO
ALTER TABLE [dbo].[FILE_CONG_VIEC] CHECK CONSTRAINT [FK_FILE_CON_CO_CONG_VIE]
GO
ALTER TABLE [dbo].[FILE_CT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_FILE_CT__CO_CT_CONG_VIE] FOREIGN KEY([MaChiTietCV])
REFERENCES [dbo].[CT_CONG_VIEC] ([MaChiTietCV])
GO
ALTER TABLE [dbo].[FILE_CT_CONG_VIEC] CHECK CONSTRAINT [FK_FILE_CT__CO_CT_CONG_VIE]
GO
ALTER TABLE [dbo].[FILE_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_FILE_DU__CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[FILE_DU_AN] CHECK CONSTRAINT [FK_FILE_DU__CO_DU_AN]
GO
ALTER TABLE [dbo].[FILE_TIEN_DO_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_FILE_TIE_CO_TIEN_DO_] FOREIGN KEY([MaTienDo])
REFERENCES [dbo].[TIEN_DO_CONG_VIEC] ([MaTienDo])
GO
ALTER TABLE [dbo].[FILE_TIEN_DO_CONG_VIEC] CHECK CONSTRAINT [FK_FILE_TIE_CO_TIEN_DO_]
GO
ALTER TABLE [dbo].[NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_NGAN_SAC_CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[NGAN_SACH] CHECK CONSTRAINT [FK_NGAN_SAC_CO_DU_AN]
GO
ALTER TABLE [dbo].[NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_NGAN_SAC_DE XUAT_NGUOI_DU] FOREIGN KEY([MaNguoiDungDeXuat])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NGAN_SACH] CHECK CONSTRAINT [FK_NGAN_SAC_DE XUAT_NGUOI_DU]
GO
ALTER TABLE [dbo].[NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_NGAN_SAC_DUYET_NGUOI_DU] FOREIGN KEY([MaNguoiDungDuyet])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NGAN_SACH] CHECK CONSTRAINT [FK_NGAN_SAC_DUYET_NGUOI_DU]
GO
ALTER TABLE [dbo].[NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_NGAN_SACH_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NGAN_SACH] CHECK CONSTRAINT [FK_NGAN_SACH_DELETED_BY]
GO
ALTER TABLE [dbo].[NGUOI_DUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DU_CO TK_ASPNETUS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[NGUOI_DUNG] CHECK CONSTRAINT [FK_NGUOI_DU_CO TK_ASPNETUS]
GO
ALTER TABLE [dbo].[NGUOI_DUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DU_CO_CHUC_DAN] FOREIGN KEY([MaChucDanh])
REFERENCES [dbo].[CHUC_DANH] ([MaChucDanh])
GO
ALTER TABLE [dbo].[NGUOI_DUNG] CHECK CONSTRAINT [FK_NGUOI_DU_CO_CHUC_DAN]
GO
ALTER TABLE [dbo].[NGUOI_DUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DUNG_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NGUOI_DUNG] CHECK CONSTRAINT [FK_NGUOI_DUNG_DELETED_BY]
GO
ALTER TABLE [dbo].[NHAN_VIEN_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_NVDA_NGUOI_DUNG] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NHAN_VIEN_DU_AN] CHECK CONSTRAINT [FK_NVDA_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[NHAN_VIEN_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIE_NHAN_VIEN_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[NHAN_VIEN_DU_AN] CHECK CONSTRAINT [FK_NHAN_VIE_NHAN_VIEN_DU_AN]
GO
ALTER TABLE [dbo].[NHAN_VIEN_TEAM]  WITH CHECK ADD  CONSTRAINT [FK_NVT_NGUOI_DUNG] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NHAN_VIEN_TEAM] CHECK CONSTRAINT [FK_NVT_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[NHAN_VIEN_TEAM]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIE_NHAN_VIEN_TEAM] FOREIGN KEY([MaTeam])
REFERENCES [dbo].[TEAM] ([MaTeam])
GO
ALTER TABLE [dbo].[NHAN_VIEN_TEAM] CHECK CONSTRAINT [FK_NHAN_VIE_NHAN_VIEN_TEAM]
GO
ALTER TABLE [dbo].[NHAT_KY_CHI_PHI]  WITH CHECK ADD  CONSTRAINT [FK_NKCP_CO_CONG_VIEC] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONG_VIEC] ([MaCongViec])
GO
ALTER TABLE [dbo].[NHAT_KY_CHI_PHI] CHECK CONSTRAINT [FK_NKCP_CO_CONG_VIEC]
GO
ALTER TABLE [dbo].[NHAT_KY_CHI_PHI]  WITH CHECK ADD  CONSTRAINT [FK_NHAT_KY__GI_CHI_PHI] FOREIGN KEY([MaChiPhi])
REFERENCES [dbo].[CHI_PHI] ([MaChiPhi])
GO
ALTER TABLE [dbo].[NHAT_KY_CHI_PHI] CHECK CONSTRAINT [FK_NHAT_KY__GI_CHI_PHI]
GO
ALTER TABLE [dbo].[NHAT_KY_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_NKDA_CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[NHAT_KY_DU_AN] CHECK CONSTRAINT [FK_NKDA_CO_DU_AN]
GO
ALTER TABLE [dbo].[NHAT_KY_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_NHAT_KY__CO_TEAM] FOREIGN KEY([MaTeam])
REFERENCES [dbo].[TEAM] ([MaTeam])
GO
ALTER TABLE [dbo].[NHAT_KY_DU_AN] CHECK CONSTRAINT [FK_NHAT_KY__CO_TEAM]
GO
ALTER TABLE [dbo].[NHAT_KY_NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_NKNS_CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[NHAT_KY_NGAN_SACH] CHECK CONSTRAINT [FK_NKNS_CO_DU_AN]
GO
ALTER TABLE [dbo].[NHAT_KY_NGAN_SACH]  WITH CHECK ADD  CONSTRAINT [FK_NHAT_KY__GHI_NGAN_SAC] FOREIGN KEY([MaNganSach])
REFERENCES [dbo].[NGAN_SACH] ([MaNganSach])
GO
ALTER TABLE [dbo].[NHAT_KY_NGAN_SACH] CHECK CONSTRAINT [FK_NHAT_KY__GHI_NGAN_SAC]
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_NKPCCV_CO_CONG_VIEC] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONG_VIEC] ([MaCongViec])
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CONG_VIEC] CHECK CONSTRAINT [FK_NKPCCV_CO_CONG_VIEC]
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_NKPCCV_GHI_NGUOI_DU] FOREIGN KEY([MaNguoiDungGhi])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CONG_VIEC] CHECK CONSTRAINT [FK_NKPCCV_GHI_NGUOI_DU]
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_NHAT_KY__DUOC PHAN_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CONG_VIEC] CHECK CONSTRAINT [FK_NHAT_KY__DUOC PHAN_NGUOI_DU]
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_NKPCCTCV_CO_CT_CONG_VIE] FOREIGN KEY([MaChiTietCV])
REFERENCES [dbo].[CT_CONG_VIEC] ([MaChiTietCV])
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CT_CONG_VIEC] CHECK CONSTRAINT [FK_NKPCCTCV_CO_CT_CONG_VIE]
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_NKPCCTCV_GHI_NGUOI_DU] FOREIGN KEY([MaNguoiDungGhi])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CT_CONG_VIEC] CHECK CONSTRAINT [FK_NKPCCTCV_GHI_NGUOI_DU]
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_NHAT_KY__DUOC PHAN_NGUOI_DU1] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NHAT_KY_PHAN_CONG_CT_CONG_VIEC] CHECK CONSTRAINT [FK_NHAT_KY__DUOC PHAN_NGUOI_DU1]
GO
ALTER TABLE [dbo].[NHAT_KY_PHU_TRACH_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_NKPTDA_CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[NHAT_KY_PHU_TRACH_DU_AN] CHECK CONSTRAINT [FK_NKPTDA_CO_DU_AN]
GO
ALTER TABLE [dbo].[NHAT_KY_PHU_TRACH_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_NHAT_KY__DUOC GHI_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NHAT_KY_PHU_TRACH_DU_AN] CHECK CONSTRAINT [FK_NHAT_KY__DUOC GHI_NGUOI_DU]
GO
ALTER TABLE [dbo].[NHAT_KY_QUAN_LY_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_NKQLDA_GHI_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NHAT_KY_QUAN_LY_DU_AN] CHECK CONSTRAINT [FK_NKQLDA_GHI_NGUOI_DU]
GO
ALTER TABLE [dbo].[NHAT_KY_QUAN_LY_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_NHAT_KY__TRONG_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[NHAT_KY_QUAN_LY_DU_AN] CHECK CONSTRAINT [FK_NHAT_KY__TRONG_DU_AN]
GO
ALTER TABLE [dbo].[PHAN_CONG_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CON_PHAN_CONG_CONG_VIE] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONG_VIEC] ([MaCongViec])
GO
ALTER TABLE [dbo].[PHAN_CONG_CONG_VIEC] CHECK CONSTRAINT [FK_PHAN_CON_PHAN_CONG_CONG_VIE]
GO
ALTER TABLE [dbo].[PHAN_CONG_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CON_PHAN_CONG_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PHAN_CONG_CONG_VIEC] CHECK CONSTRAINT [FK_PHAN_CON_PHAN_CONG_NGUOI_DU]
GO
ALTER TABLE [dbo].[PHAN_CONG_CT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CON_PHAN_CONG_CT_CONG_VIE] FOREIGN KEY([MaChiTietCV])
REFERENCES [dbo].[CT_CONG_VIEC] ([MaChiTietCV])
GO
ALTER TABLE [dbo].[PHAN_CONG_CT_CONG_VIEC] CHECK CONSTRAINT [FK_PHAN_CON_PHAN_CONG_CT_CONG_VIE]
GO
ALTER TABLE [dbo].[PHAN_CONG_CT_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CON_PHAN_CONG_NGUOI_DU1] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PHAN_CONG_CT_CONG_VIEC] CHECK CONSTRAINT [FK_PHAN_CON_PHAN_CONG_NGUOI_DU1]
GO
ALTER TABLE [dbo].[PHONG_CHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CH_CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[PHONG_CHAT] CHECK CONSTRAINT [FK_PHONG_CH_CO_DU_AN]
GO
ALTER TABLE [dbo].[TEAM]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TEAM] CHECK CONSTRAINT [FK_TEAM_DELETED_BY]
GO
ALTER TABLE [dbo].[TEAM_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_DU__TEAM_DU_A_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[TEAM_DU_AN] CHECK CONSTRAINT [FK_TEAM_DU__TEAM_DU_A_DU_AN]
GO
ALTER TABLE [dbo].[TEAM_DU_AN]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_DU__TEAM_DU_A_TEAM] FOREIGN KEY([MaTeam])
REFERENCES [dbo].[TEAM] ([MaTeam])
GO
ALTER TABLE [dbo].[TEAM_DU_AN] CHECK CONSTRAINT [FK_TEAM_DU__TEAM_DU_A_TEAM]
GO
ALTER TABLE [dbo].[TIEN_DO_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_TIEN_DO__BAO CAO_CONG_VIE] FOREIGN KEY([MaChiTietCV])
REFERENCES [dbo].[CT_CONG_VIEC] ([MaChiTietCV])
GO
ALTER TABLE [dbo].[TIEN_DO_CONG_VIEC] CHECK CONSTRAINT [FK_TIEN_DO__BAO CAO_CONG_VIE]
GO
ALTER TABLE [dbo].[TIEN_DO_CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_TIEN_DO__BAO CAO_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TIEN_DO_CONG_VIEC] CHECK CONSTRAINT [FK_TIEN_DO__BAO CAO_NGUOI_DU]
GO
ALTER TABLE [dbo].[TIN_NHAN]  WITH CHECK ADD  CONSTRAINT [FK_TIN_NHAN_NAM TRONG_PHONG_CH] FOREIGN KEY([MaPhongChat])
REFERENCES [dbo].[PHONG_CHAT] ([MaPhongChat])
GO
ALTER TABLE [dbo].[TIN_NHAN] CHECK CONSTRAINT [FK_TIN_NHAN_NAM TRONG_PHONG_CH]
GO
ALTER TABLE [dbo].[TIN_NHAN]  WITH CHECK ADD  CONSTRAINT [FK_TIN_NHAN_NHAN TIN_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TIN_NHAN] CHECK CONSTRAINT [FK_TIN_NHAN_NHAN TIN_NGUOI_DU]
GO
ALTER TABLE [dbo].[THANH_VIEN_PHONG_CHAT]  WITH CHECK ADD  CONSTRAINT [FK_THANH_VI_THANH_VIE_NGUOI_DU] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[THANH_VIEN_PHONG_CHAT] CHECK CONSTRAINT [FK_THANH_VI_THANH_VIE_NGUOI_DU]
GO
ALTER TABLE [dbo].[THANH_VIEN_PHONG_CHAT]  WITH CHECK ADD  CONSTRAINT [FK_THANH_VI_THANH_VIE_PHONG_CH] FOREIGN KEY([MaPhongChat])
REFERENCES [dbo].[PHONG_CHAT] ([MaPhongChat])
GO
ALTER TABLE [dbo].[THANH_VIEN_PHONG_CHAT] CHECK CONSTRAINT [FK_THANH_VI_THANH_VIE_PHONG_CH]
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY]  WITH CHECK ADD  CONSTRAINT [FK_YEU_CAU__CO_DU_AN] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DU_AN] ([MaDuAn])
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY] CHECK CONSTRAINT [FK_YEU_CAU__CO_DU_AN]
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY]  WITH CHECK ADD  CONSTRAINT [FK_YEU_CAU__DE XUAT_NGUOI_DU] FOREIGN KEY([MaQuanLyHienTai])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY] CHECK CONSTRAINT [FK_YEU_CAU__DE XUAT_NGUOI_DU]
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY]  WITH CHECK ADD  CONSTRAINT [FK_YEU_CAU__DUOC DE X_NGUOI_DU] FOREIGN KEY([MaQuanLyDeXuat])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY] CHECK CONSTRAINT [FK_YEU_CAU__DUOC DE X_NGUOI_DU]
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY]  WITH CHECK ADD  CONSTRAINT [FK_YEU_CAU__DUYET_NGUOI_DU] FOREIGN KEY([MaNguoiDungDuyet])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY] CHECK CONSTRAINT [FK_YEU_CAU__DUYET_NGUOI_DU]
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY]  WITH CHECK ADD  CONSTRAINT [FK_YEU_CAU_QL_DELETED_BY] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[NGUOI_DUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[YEU_CAU_DOI_QUAN_LY] CHECK CONSTRAINT [FK_YEU_CAU_QL_DELETED_BY]
GO
