@model QuanLyDuAn.ViewModels.DanhGiaDuAn.DanhGiaDuAnItemViewModel

<span class="score-badge">
    @if (Model.CoDanhGia)
    {
        <strong>@Model.DiemTongKet.ToString("0.0")</strong>
        <small>Xếp loại: @Model.XepLoai</small>
    }
    else
    {
        <strong>-</strong>
        <small>Chưa đánh giá</small>
    }
</span>
