@model QuanLyDuAn.ViewModels.DuyetDeXuatCongViec.DuyetDeXuatCongViecPageViewModel
@using QuanLyDuAn.Constants

@{
    var permissions = Model.Permissions;
    ViewBag.Permissions = permissions;
}

<div class="card p-3">
    <h5>Duyệt đề xuất công việc</h5>

    <partial name="_Filter" model="Model" />
    <partial name="_Table" model="Model" />
</div>

