@model QuanLyDuAn.ViewModels.ChatDuAn.ChatDuAnPageViewModel

<div class="chat-message-list" id="chat-message-list">
    @if (!Model.DanhSachTinNhan.Any())
    {
        <div class="chat-message-empty">
            <div class="chat-message-empty-icon"><i class="bi bi-chat-dots"></i></div>
            <div>Chưa có tin nhắn nào trong phòng này.</div>
        </div>
    }
    else
    {
        foreach (var item in Model.DanhSachTinNhan)
        {
            @await Html.PartialAsync("_MessageItem", item)
        }
    }
</div>
