@model QuanLyDuAn.ViewModels.DuAn.DuAnPageViewModel
@using QuanLyDuAn.Constants

@{
    var permissions = Model.Permissions;
    bool canShowForm = permissions.Contains(Permissions.DuAn.Them) || permissions.Contains(Permissions.DuAn.Sua);
    ViewBag.Permissions = permissions;
    ViewBag.DanhSachLoaiDuAn = Model.DanhSachLoaiDuAn;
    ViewBag.TuKhoa = Model.TuKhoa;
    ViewBag.LocMaLoaiDuAn = Model.LocMaLoaiDuAn;
    ViewBag.LocTrangThaiDuAn = Model.LocTrangThaiDuAn;
}

<div class="card p-3">
    <h5>Quản lý dự án</h5>

    <div asp-validation-summary="All" class="text-danger mb-2"></div>

    @if (canShowForm)
    {
        <partial name="_Form" for="Form" />

        <hr />
    }

    <partial name="_Filter" model="Model" />
    <partial name="_Table" model="Model.DanhSach" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
